.page-content > .ask-form {
    padding-bottom: 30px;
}

.page-content > .ask-form > .row {
    margin-top: 30px;
}

.page-content > .ask-form > .row > .col-1 > h5 {
    font-weight: 400;
}

.page-content > .ask-form > .row > .col-9 > textarea {
    width: 100%;
}

#ask-button {
    margin-bottom: 30px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}