.page-content > .ask-form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 93%;
}

#ask-button {
    margin-bottom: 30px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}