.page-content > .answers {
    width: 93%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-top: 7px #185f1f double;
}

.answers > .answer {
    margin-top: 30px;
    padding: 10px;
    border: 2px grey solid;
    border-radius: 10px;
}

.answer-image {
    margin-top: 10px;
    width: 120px;
    height: auto;
    border: 1px #4fae10 solid;
    border-radius: 10px;
}

.answer > .answer-info {
    margin-top: 8px;
}

.answer-from {
    margin-top: 30px;
    width: 93%;
}

#answer-button {
    margin-bottom: 30px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}

.bordered {
    width: 93%;
    padding-top: 30px;
    border-top: 7px #185f1f double;
}

.button-like {
    background-color: #7cdd3b;
}

.button-like:hover {
    background-color: #58b619;
}

.button-dislike {
    background-color: #ee6969;
}

.button-dislike:hover {
    background-color: #bb2a2a;
}

.span-div {
    margin-top: 5px;
    display: flex;
}

.span-like {
    width: 47px;
    height: 5px;
    background-color: #58b619;
}

.span-dislike {
    margin-left: 5px;
    width: 66px;
    height: 5px;
    background-color: #bb2a2a;
}

.right-answer-text {
    color: #185f1f;
    letter-spacing: 1px;
}