.register-form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
}

/* .input-register-ava {
    width: 120px;
    height: auto;
    border: 1px #4fae10 solid;
    border-radius: 10px;
} */

#register-button {
    margin-bottom: 30px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}