{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

{% include 'components/question_component.html' %}

<div class="answers">
{% for answer in answers %}
    {% include 'components/answer_component.html' %}
{% endfor %}
</div>

{% include 'components/paginator_component.html' %}

<form method="post" class="answer-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button id="answer-button" class="button btn-primary" type="submit">Answer!</button>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
<script src="{% static 'js/send_answer.js' %}"></script>
<script type="text/javascript">
    var $answerList = $('.answers');

    const centrifuge = new Centrifuge("{{ centrifugo.ws_url }}", {
        token: "{{ centrifugo.token }}"
    });
    centrifuge.connect();

    const sub = centrifuge.newSubscription("{{ centrifugo.channel }}");
    sub.on('subscribed', function (ctx) {
        console.log('subscribed', ctx);
    }).on('publication', function(message) {
        console.log('message', message.data);
        const answer = message.data;
        if (!answer.avatar_url) {
            answer.avatar_url = "/uploads/ava.jpg";
        }

        helpElem = ''
        if (answer.is_owner) {
            helpElem = `
                <div class="col-10 answer-correct">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="answer-correct-switch" data-id="${answer.pk}">
                        <label class="form-check-label" for="answer-correct-switch"><h5>Does this answer help you?</h5></label>
                    </div>
                </div>
            `
        }

        likeElem = `
            <div class="col-2 answer-likes">
                <div>
                    <h5>likes: ${answer.likes}</h5>
                    <button class="button-like" data-id="${answer.pk}">Like!</button>
                    <button class="button-dislike" data-id="${answer.pk}">Dislike!</button>
                </div>
                <div class="span-div">
                    <div class="span-like" style="visibility: hidden;"></div>
                    <div class="span-dislike" style="visibility: hidden;"></div>
                </div>
            </div>
        `

        answerElem = `
            <div class="answer">
                <div class="row answer-data">
                    <div class="col-2">
                        <img src="${answer.avatar_url}" alt="answer avatar" class="answer-image">
                    </div>
                    <div class="col-10">
                        <div class="answer-text">${answer.text}</div>
                    </div>
                </div>
                <div class="row answer-info">
                    ${helpElem}
                    ${likeElem}
                </div>
            </div>
        `

        $answerList.prepend(answerElem);
        if ($answerList.length >= 1) {
            $answerList.children().last().remove();
        }
    }).subscribe();
</script>

{% endblock %}