{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

    <div class="questions-title">
        <h1>Settings</h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="settings-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div>
            <img class="input-settings-ava" src="{% static 'img/'|add:template.user.avatar_filename %}" alt="ava">
        </div>
        <button id="settings-button" class="button btn-primary" type="submit">Save</button>
    </form>
{% endblock %}